@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  padding: 0 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.page-header {
  background-color: #ffffff;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  list-style: none;
  display: flex;
}

.navigation-link{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

/* Main */

.main-content {
  flex-grow: 1;
}

.jumbotron {
background: #ffffff url(../images/index-bg.jpg) no-repeat 0 0;
width: 1200px;
height: 746px;
}

.advantages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.jumbotron .heading {
  padding-top: 554px;
  width: 620px;
}

.jumbotron p:last-child {
  margin: 0 auto;
  margin-top: 25px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  width: 400px;
  height: 385px;
}

.item-card h2 {
  width: 175px;
}

.divider {
  margin: 0 auto;
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.gray-divider {
  background: rgba(0, 0, 0, 0.3);
}

.card-text {
  width: 230px;
  text-align: center;
}

.advantage-item:first-child,
.advantage-item:last-child {
  background-color: #82b3d3;
  color: #FFFFFF;
  display: flex;
}

.advantage-item:first-child .item-card,
.advantage-item:last-child .item-card {
  background-color: #82b3d3;
  color: #FFFFFF;
}

.advantage-item:nth-child(2) .item-card,
.advantage-item:nth-child(4) .item-card {
  background: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(3) .item-card {
  background: rgba(131, 179, 211, 0.2);
}

.advantage-item:nth-child(2) .item-card,
.advantage-item:nth-child(3) .item-card,
.advantage-item:nth-child(4) .item-card {
  color: #333333;
}

.offers {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.offers .heading {
  width: 505px;
  margin-top: 64px;
}

.subtitle {
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.offers .subtitle {
  margin-top: 20px;
  width: 505px;
}

.offers-list {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  list-style: none;
  display: flex;
}

.item-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  width: 400px;
  height: 385px;
  background: rgba(131, 179, 211, 0.12);
}

.item-offer:nth-child(2) {
  background: none;
}

.item-offer h2 {
  margin-top: 102px;
  position: relative;
  margin: 0 auto;
}

.icon-offer {
  width: 75px;
  height: 72px;
}

.icon-housing {
  background: url("../images/offers-housing.svg") no-repeat center/contain;
}

.icon-burgers {
  background: url("../images/offers-burger.svg") no-repeat center/contain;
}

.icon-gifts {
  background: url("../images/offers-gifts.svg") no-repeat center/contain;
}

.booking {
  height: 406px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.booking .subtitle {
  width: 592px;
  margin-top: 20px;
}

.booking .button {
  margin-top: 54px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #4b6789 url(../images/bgc-subscribe.jpg) no-repeat 0 0;
}

.subscribe .heading {
  color: #FFFFFF;
  margin-top: 96px;
}

.subscribe .subtitle {
  width: 475px;
  color: #FFFFFF;
  margin-top: 20px;
}

.subscribe-form {
  margin: 0;
  padding: 0;
  margin-top: 54px;
  margin-bottom: 104px;
}

.subscribe .email {
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: 52px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  background: #F2F2F2;
  box-sizing: border-box;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  vertical-align: top;
}

.subscribe-button {
  width: 232px;
  height: 52px;
  padding: 8px 50px;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: none;
  box-sizing: border-box;
  vertical-align: top;
}

/* Footer */

.page-footer {
  height: 50px;
  background-color:#fff;
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts li {
  padding: 0 10px;
}

.contacts a {
  width: 25px;
  height: 18px;
  display: inline-block;
}

.vk {
  background: url(../images/social-vk.svg) no-repeat center;
}

.tg {
  background: url(../images/social-telegram.svg) no-repeat center;
}

.yt {
  background: url(../images/social-youtube.svg) no-repeat center;
}

.phone {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
}

.academy {
  display: inline-block;
  width: 115px;
  height: 34px;
  background: url(../images/academy-logo.svg) no-repeat center;
}
