@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-heading {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.caption {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  padding: 0 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.page-header {
  margin: 0;
  column-gap: 46px;
  background-color: #ffffff;
  display: flex;
}

.logo {
  width: 140px;
  height: 64px;
  position: relative;
}

.navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 32px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 268px;
}

.navigation-link {
  margin: 0;
  padding: 20px 0 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  display: block;
}

.active {
  padding-bottom: 18px;
  border-bottom: 2px solid #756257;
}

.navigation-user a {
  margin: 0;
  display: block;
}

.search,
.favorite {
  padding: 22px 12px;
  width: 20px;
  height: 20px;
  text-decoration: none;
}

.search svg {
  padding: 1px 0 0 1px;
}

.favorite {
  position: relative;
}

.favorite svg {
  padding: 2px 1px 1px;
}

.favorite-number {
  width: 20px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  top: 11px;
  right: 4px;
}

.button {
  padding: 8px 50px;
  background: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.navigation-user .button {
  margin-left: 20px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

.navigation-user .button:focus,
.booking .button:focus,
.card .details:focus {
  background-color: #615048;
  outline: none;
}

.navigation-user .button:hover,
.booking .button:hover,
.card .details:hover {
  background-color: #615048;
}

.navigation-user .button:active,
.booking .button:active,
.card .details:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button.disabled,
.button.disabled:focus,
.button.disabled:hover,
.button.disabled:active {
  background-color: #E5E5E5;
  color: #FFFFFF;
  outline: none;
  cursor: default;
}

/* Main */

.main-content {
  flex-grow: 1;
}

.jumbotron {
  background: #ffffff url(../images/index-bg.jpg) no-repeat 0 0;
  width: 1200px;
  height: 746px;
}

.advantages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.jumbotron .heading {
  padding-top: 554px;
  width: 620px;
}

.jumbotron p:last-child {
  margin: 0 auto;
  margin-top: 25px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  width: 400px;
  height: 385px;
}

.item-card h3 {
  width: 175px;
}

.divider {
  margin: 0 auto;
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.gray-divider {
  background: rgba(0, 0, 0, 0.3);
}

.card-text {
  width: 230px;
  text-align: center;
}

.advantage-item:first-child,
.advantage-item:last-child {
  background-color: #82b3d3;
  color: #FFFFFF;
  display: flex;
}

.advantage-item:first-child .item-card,
.advantage-item:last-child .item-card {
  background-color: #82b3d3;
  color: #FFFFFF;
}

.advantage-item:nth-child(2) .item-card,
.advantage-item:nth-child(4) .item-card {
  background: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(3) .item-card {
  background: rgba(131, 179, 211, 0.2);
}

.advantage-item:nth-child(2) .item-card,
.advantage-item:nth-child(3) .item-card,
.advantage-item:nth-child(4) .item-card {
  color: #333333;
}

.offers {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.offers .heading {
  width: 505px;
  margin-top: 64px;
}

.subtitle {
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.offers .subtitle {
  margin-top: 20px;
  width: 505px;
}

.offers-list {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  list-style: none;
  display: flex;
}

.item-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  width: 400px;
  height: 385px;
  background: rgba(131, 179, 211, 0.12);
}

.item-offer:nth-child(2) {
  background: none;
}

.item-offer h3 {
  margin-top: 102px;
  position: relative;
  margin: 0 auto;
}

.icon-offer {
  width: 75px;
  height: 72px;
}

.icon-housing {
  background: url("../images/offers-housing.svg") no-repeat center/contain;
}

.icon-burgers {
  background: url("../images/offers-burger.svg") no-repeat center/contain;
}

.icon-gifts {
  background: url("../images/offers-gifts.svg") no-repeat center/contain;
}

.booking {
  height: 406px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.booking .subtitle {
  width: 592px;
  margin-top: 20px;
}

.booking .button {
  margin-top: 54px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #4b6789 url(../images/bgc-subscribe.jpg) no-repeat 0 0;
}

.subscribe .heading {
  color: #FFFFFF;
  margin-top: 96px;
}

.subscribe .subtitle {
  width: 475px;
  color: #FFFFFF;
  margin-top: 20px;
}

.subscribe-form {
  margin: 0;
  padding: 0;
  margin-top: 54px;
  margin-bottom: 104px;
}

.subscribe .email {
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: 52px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  background: #F2F2F2;
  box-sizing: border-box;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  vertical-align: top;
}

.subscribe-button {
  margin: 0;
  padding: 8px 50px;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: none;
  box-sizing: border-box;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.subscribe-button:hover {
  background-color: #68A2CA;
  outline: none;
}

.subscribe-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

/* Footer */

.page-footer {
  height: 50px;
  background-color:#fff;
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 142px;
  font-size: 0;
  line-height: 0;
  display: flex;
  align-items: center;
}

.contacts li {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.contacts a {
  width: 25px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts a:focus {
  outline: none;
}

.contacts a:focus path {
  fill: #68A2CA;
}

.contacts a:hover path {
  fill: #68A2CA;
}

.contacts a:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.phone {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.phone:focus {
  color: #756157;
  outline: none;
}

.phone:hover {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.academy {
  display: inline-block;
  width: 115px;
  height: 34px;
}

.academy:focus {
  outline: none;
}

.academy:focus path {
  fill:  #756157;
}

.academy:hover path {
  fill:  #756157;
}

.academy:active path {
  fill: rgba(117, 97, 87, 0.3);;
}

/* Page Catalog */

.selection {
  background: #647b8f url(../images/bgc-filter.jpg) no-repeat center;
  padding-top: 35px;
  padding-bottom: 70px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs a {
  position: relative;
  padding-left: 28px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs a:not(.home)::before {
  content: "";
  width: 8px;
  height: 11px;
  position: absolute;
  top: 5px;
  left: 10px;
  background: url(../images/arrow.svg) no-repeat 0 0;
}

.breadcrumbs a:focus {
  outline: none;
}

.breadcrumbs a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs a:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs .home {
  padding-left: 0;
  vertical-align: middle;
  width: 13px;
  height: 15px;
  background: url(../images/home-icon.svg) no-repeat 0 0;
}

.select {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.form-section {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 70px;
  border: none;
}

.parameters div {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.select legend {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.parameters legend {
  margin-bottom: 16px;
}

.parameters label {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  padding-left: 36px;
  display: flex;
  align-items: center;
}

.parameters .mark {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.housing .mark {
  border-radius: 50%;
}

input:checked + .mark::before {
  position: absolute;
  content: "";
}

input:checked + .square-mark::before {
  top: 6px;
  left: 4px;
  width: 13px;
  height: 11px;
  background: url(../images/checkmark.svg) no-repeat 0 0;
}

input:checked + .round-mark::before {
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 5px;
  background-color: #3F5E72;
}

input:focus + .mark {
  outline: 3px solid #83B3D3;
}

.parameters label:hover {
  opacity: 0.6;
}

.parameters label:active {
  opacity: 0.3;
}

.order .price,
.order .buttons {
  display: flex;
  flex-direction: column;
}

.buttons {
  justify-content: flex-end;
}

.price-limiter {
  font-size: 0;
  margin-top: 32px;
}

.price-range {
  margin-top: auto;
}

.price-limiter div {
  display: inline-block;
  position: relative;
}

.price-limiter input {
  margin: 0;
  width: 103px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 12px 20px;
  background: #F2F2F2;
  border: none;
  appearance: textfield;
}

.price-limiter input::-webkit-outer-spin-button,
.price-limiter input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-limiter .input-from {
  border-radius: 4px 0 0 4px;
}

.price-limiter .input-to {
  margin-left: 2px;
  border-radius: 0 4px 4px 0;
}

.price-limiter input:focus {
  border: none;
  outline: 3px solid #83B3D3;
}

.price-limiter input:hover {
  background-color: #E6E6E6;
}

.price-limiter input:active {
  border: none;
  outline: 2px solid #000000;
}

.price-limiter div::after {
  position: absolute;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.price-limiter .price-from::after {
  content: "от";
  width: 17px;
  top: 12px;
  right: 20px;
}

.price-limiter .price-to::after {
  content: "до";
  width: 20px;
  top: 12px;
  right: 20px;
}

.price-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 8px;
}

.price-bar {
  position: relative;
  width: 226px;
  height: 4px;
  background-color: #fff;
}

.price-handler {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}

.handler-max {
  right: 0;
}

.price-handler:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.price-handler:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.price-handler:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}


.buttons .button {
  border: none;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
}

.buttons .reset-button {
  background-color: transparent;
  margin-top: 32px;
}

.reset-button:focus {
  outline: 3px solid #83B3D3;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.apply-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.apply-button:hover {
  background-color: #68A2CA;
  outline: none;
}

.apply-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.search-results {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #FFFFFF;
}

.sorting {
  display: flex;
  align-items: center;
}
.sorting .heading {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-options {
  width: 292px;
  height: 49px;
  margin-left: auto;
  padding: 10px 20px;
  outline: 2px solid #E5E5E5;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../images/select-checkmark.svg) no-repeat calc(100% - 20px) 20px;
}

.sorting-options:disabled,
.sorting-options:disabled:focus,
.sorting-options:disabled:hover,
.sorting-options:disabled:active {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  background: url(../images/select-checkmark-light.svg) no-repeat calc(100% - 20px) 20px;
}

.sorting-options:focus {
  outline: 2px solid #68A2CA;
}

.sorting-options:hover {
  outline: 2px solid #68A2CA;
}

.sorting-options:active {
  outline: 2px solid #3F5E72;
}

.sorting-options:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.display-options {
  margin: 0;
  padding: 0;
  margin-left: 70px;
  list-style: none;
  display: flex;
  column-gap: 8px;
}

.display-options button {
  width: 48px;
  height: 48px;
  outline: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fff;
  border: none;
}

.display-options button:focus {
  outline: 2px solid #68A2CA;
}

.display-options button:hover {
  outline: 2px solid #000000;
}

.display-options button:active {
  outline: 2px solid #000000;
}

.display-options .current {
  outline: 2px solid #000000;
}

.display-options .grid {
  background: url(../images/grid.svg) no-repeat center;
}

.display-options .one-card {
  background: url(../images/card.svg) no-repeat center;
}

.display-options .list {
  background: url(../images/list.svg) no-repeat center;
}

.results {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
}

.results .card {
  padding: 20px;
  display: grid;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  grid-template-columns: repeat(2,140px);
  gap: 16px 20px;
}

.results img {
  width: 300px;
  height: 212px;
  grid-column: span 2;
}

.results p {
  margin: 0;
}

.results .caption {
  grid-column: span 2;
  text-align: left;
  text-transform: none;
}

.housing-type,
.start-price {
  color: #333333;
}

.start-price {
  text-align: right;
}

.card .button {
  padding: 8px 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.card .card-favorite {
  background-color: #82B3D3;
}

.card .chosen {
  background-color: #7DB54F;
}

.card-favorite:focus {
  background-color: #68a2ca;
  outline: none;
}

.card-favorite:hover {
  background-color: #68A2CA;
  outline: none;
}

.card-favorite:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.chosen:focus {
  background-color: #6C9E42;
  outline: none;
}

.chosen:hover {
  background-color: #6C9E42;
  outline: none;
}

.chosen:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.card .rankings {
  padding: 9px 0 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
}

.card .star-raiting {
  padding: 10px 0;
}

.card .star {
  width: 18px;
  height: 17px;
  margin-right: 6px;
  background: url(../images/star.svg) no-repeat center;
  display: inline-block;
}

.search-results hr {
  margin-top: 40px;
  height: 1px;
  color: #E6E6E6;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 8px;
  margin-top: 40px;
}

.pagination a {
  display: inline-block;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  color: #fff;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
  border: none;
}

.pagination a:not(.current):not(.ellipsis):focus {
  outline: 1px solid #82B3D3;
  background-color: #68A2CA;
}

.pagination a:not(.current):not(.ellipsis):hover {
  outline: 1px solid #82B3D3;
  background-color: #68A2CA;
}

.pagination a:not(.current):not(.ellipsis):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.pagination .current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination .ellipsis {
  background-color: transparent;
  color: #000000;
}

.catalog-subscribe {
  background: none;
  background-color: #FFFFFF;
}

.catalog-subscribe .heading {
  color: #000000;
}

.catalog-subscribe .subtitle {
  color: #333333;
}

/* .overlay {
  display: hidden;
} */

.overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(242, 242, 242, 0.8);
}

.popup {
  padding: 64px 70px;
  top: 396px;
  left: calc(50% - 717px / 2);
  position: fixed;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.popup .heading {
  margin: 0;
  width: 577px;
  text-align: left;
}

.popup-close {
  position: absolute;
  top: 64px;
  right: 52px;
  display: inline-block;
  width: 52px;
  height: 52px;
  font-size: 0;
  background: #f2f2f2 url(../images/cross.svg) no-repeat center;
  background-color: #F2F2F2;
  border-radius: 50%;
}

.popup-close:focus {
  outline: 3px solid #83B3D3;
  background-color: #e6e6e6;
}

.popup-close:hover {
  background-color: #e6e6e6;
}

.popup-close:active {
  background: #e6e6e6 url(../images/cross-light.svg) no-repeat center;
  outline: none;
}

.popup-search {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 120px 440px;
  gap: 48px 17px;
}

.popup-search label {
  padding: 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}

.popup-search input[type="text"] {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.date {
  position: relative;
}

.date input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
}

.date input[type="text"]:focus {
  outline: 2px solid #000000;
}

.date input[type="text"]:hover {
  background-color: #E6E6E6;
  color: rgba(0, 0, 0, 0.6);
}

.date input[type="text"]:active {
  outline: 3px solid #83B3D3;
}

.date button {
  padding: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  right: 20px;
  background: url(../images/calendar.svg) no-repeat 2px 2px;
  border: none;
}

.date::after {
  position: absolute;
  top: 52px;
  left: 20px;
  font-size: 16px;
  color: #FF5757;
}

.arrival::after {
  content: "Мы не можем отправить вас в прошлое.";
}

.departure::after {
  content: "На эти даты есть свободные номера. Пока есть.";
  color: #333333;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
}

.adults {
  margin-right: auto;
}

.wrapper label {
  margin-right: 46px;
  width: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.inform {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  background: url(../images/inform.svg) no-repeat 0 0;
}

.inform-description {
  visibility: hidden;
  opacity: 0.2;
  background-color: #333333;;
  position: absolute;
  right: 13px;
  transform: translateX(50%);
  top: 52px;
  width: 216px;
  padding: 20px 18px 23px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: opacity 0.3s;
}

.inform:hover + .inform-description {
  visibility: visible;
  opacity: 1;
}

.inform-description::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 9px;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/triangle.svg) no-repeat 0 0;
}

.wrapper > div {
  width: 111px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F2F2F2;
}

.wrapper button {
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #F2F2F2;
}

.decr::before,
.incr::before {
  position: absolute;
  top: 9px;
  content: "";
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
}

.incr::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 9px;
  width: 2px;
  height: 14px;
  background-color: rgba(117, 97, 87, 0.3);
}

.decr::before {
  left: 3px;
}

.incr::before {
  right: 3px;
}

.wrapper button:focus {
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.wrapper button:focus::before,
.wrapper button:focus::after {
  background-color: #000000;
}

.wrapper button:hover::before,
.wrapper button:hover::after {
  background-color: #000000;
}

.wrapper button:active {
  outline: none;
}

.wrapper button:active::before,
.wrapper button:active::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.wrapper input[type="text"] {
  width: 11px;
  padding: 14px 10px;
  line-height: 20px;
  border: none;
  background-color: #f2f2f2;
}

.popup-submit {
  padding: 18px 0;
  grid-column: span 2;
  font-size: 20px;
  line-height: 24px;
  background-color: #83B3D3;
  border-radius: 10px;
  border: none;
}

.popup-submit:focus {
  background-color: #68A2CA;
  outline: none;
}

.popup-submit:hover {
  background-color: #68A2CA;
  outline: none;
}

.popup-submit:active {
  background-color: #68A2CA;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}
